{% if rman_password_on_transit is defined %} set DECRYPTION identified by "{{ rman_password_on_transit }}"; {% endif %} run { {% for item in rman_channels %} allocate channel {{ item }} device type sbt PARMS "SBT_LIBRARY={{ lib_dir }}/libopc.so, SBT_PARMS=(OPC_PFILE={{ config_file }})" FORMAT "BACKUP_%U"; {% endfor %} recover database;  } 
