set dbid {{ oracle_source_dbid }}; {% if rman_password_on_transit is defined %} set DECRYPTION identified by "{{ rman_password_on_transit }}"; {% endif %} run { SET CONTROLFILE AUTOBACKUP FORMAT FOR DEVICE TYPE SBT TO "{{ rman_set_cf_autobackup_format_for_sbt_type_device }}"; allocate channel c1 device type sbt PARMS "SBT_LIBRARY={{ lib_dir }}/libopc.so, SBT_PARMS=(OPC_PFILE={{ config_file }})"; RESTORE CONTROLFILE FROM AUTOBACKUP; }
