set dbid {{ oracle_source_dbid }}; {% if startup_nomount_force == 'True' %} startup force nomount; {% endif %} {% if startup_nomount_force == 'False' %} startup nomount pfile="/tmp/init{{ oracle_source_database_sid }}.ora"; {% endif %} {% if rman_password_on_transit is defined %} set DECRYPTION identified by "{{ rman_password_on_transit }}"; {% endif %} run { SET CONTROLFILE AUTOBACKUP FORMAT FOR DEVICE TYPE SBT TO "{{ rman_set_cf_autobackup_format_for_sbt_type_device }}"; allocate channel c1 device type sbt PARMS "SBT_LIBRARY={{ lib_dir }}/libopc.so, SBT_PARMS=(OPC_PFILE={{ config_file }})"; RESTORE SPFILE to "{{ oracle_target_ohome_dir }}/dbs/spfile{{ oracle_source_database_sid }}.ora" FROM AUTOBACKUP;}
