set DECRYPTION identified by "{{ rman_password_on_transit }}"; allocate channel for maintenance device type disk; DELETE NOPROMPT OBSOLETE; allocate channel for maintenance type sbt PARMS  "SBT_LIBRARY={{ lib_dir }}/libopc.so, SBT_PARMS=(OPC_PFILE={{ config_file }})"; run { set ARCHIVELOG DESTINATION to "{{ grid_target_reco_dg }}"; set NEWNAME for database to "{{ grid_target_data_dg }}"; {% for item in rman_channels %} allocate channel {{ item }} device type sbt PARMS "SBT_LIBRARY={{ lib_dir }}/libopc.so, SBT_PARMS=(OPC_PFILE={{ config_file }})" FORMAT "BACKUP_%U"; {% endfor %} restore database; }
