CONFIGURE CHANNEL DEVICE TYPE "SBT_TAPE" MAXPIECESIZE 2 G FORMAT "%d_%I_%U_%T_%t" PARMS "SBT_LIBRARY={{ lib_dir_oci_automatic_backups }}/libopc.so, SBT_PARMS=(OPC_PFILE={{ config_file_dir_oci_automatic_backups }}/{{ oracle_source_dbid }}/opc_{{ oracle_target_database_unique_name }}.ora)";
